# LangChain
langchain
langchain-core

# OpenAI
langchain-openai
openai

#groq
langchain-groq

# Google Gemini
langchain-google-genai
google-generativeai

# Anthropic
langchain-anthropic

# Hugging Face
langchain-huggingface
transformers
huggingface-hub

# Environment variables
python-dotenv

#local embedding
sentence-transformers